// Зона отдыха
.rest {
    padding-top: 100px;
    min-height : 100vh;

    &__bg {
        top   : 0;
        left  : 0;
        right : 0;
        bottom: 0;
    }

    &__title {
        font-size: calc(2 * var(--font-26));
    }

    @media(max-width: $laptop) {
        &__title {
            font-size: var(--font-40);
        }
    }

    @media(max-width: $mobile) {
        &__title {
            font-size: var(--font-30);
        }
    }
}

// О нас
.about-us {
    &__content {
        max-width: 570px;
    }

    &__pic {
        max-width: 500px;
    }

    @media(max-width: $laptop) {
        &__pic {
            order : 1;
            margin: 0 auto;
        }

        &__content {
            order: 2;
        }
    }
}

// Наши коттеджи
.cottages {

    &-slider,
    &__more {
        top   : 0;
        left  : 0;
        right : 0;
        bottom: 0;
    }

    &__more {
        transform       : translateX(-100%);
        background-color: var(--color-black-70);
    }

    &__elem {
        border-color: var(--color-black-20);
        height      : var(--size-10);
    }

    @media(max-width: $mobile) {
        &__item {
            transition-delay: 0s;
        }

        &__elem {
            height: var(--size-8);
        }
    }

    @media(hover) {
        &__item:hover &__pic {
            opacity: 0;
        }

        &__item:hover &__more {
            transform: translateX(0);
            opacity  : 1;
        }
    }
}

// Помещение
.building {
    &__bg {
        top   : 0;
        left  : 0;
        right : 0;
        bottom: 0;

        &::after {
            content   : '';
            position  : absolute;
            top       : 0;
            left      : 0;
            right     : 0;
            bottom    : 0;
            width     : 100%;
            height    : 100%;
            background: linear-gradient(140.2deg, var(--color-black-90) 18.39%, var(--color-none) 60.25%);
            z-index   : var(--z-2);
        }
    }

    &__info {
        max-width: 490px;
    }

    &__btns {
        left  : 40px;
        bottom: 20px;
    }

    &__btn {
        width : 140px;
        top   : 0;
        left  : 0;
        right : 0;
        bottom: 0;

        &.swiper-button-disabled {
            color           : var(--color-black);
            background-color: var(--color-grey);
            opacity         : 1;
        }
    }

    @media(max-width: $laptop) {
        &__content {
            flex-direction: column;
        }

        &__info {
            order    : 2;
            max-width: 100%;
        }

        &__btns {
            position: static;
        }

        &__btn {
            width: 130px;
        }
    }
}

// Слайдер деталей
.detail-slider {
    & {
        max-height: 350px;
    }

    @media(max-width: $laptop) {
        & {
            max-height: none;
        }
    }
}

// Слайдер изображений
.images-slider {
    max-width: 600px;

    &__pagination {
        top           : 0;
        left          : 0;
        right         : 0;
        bottom        : 0;
        pointer-events: none;
        background    : linear-gradient(180deg, rgba(0, 0, 0, 0) 71.3%, rgba(0, 0, 0, 0.5) 100%);

        & .swiper-pagination {
            pointer-events: all;
        }
    }


    @media(max-width: $laptop) {
        & {
            order    : 1;
            height   : 350px;
            max-width: 100%;
        }
    }

    @media(max-width: $mobile) {
        & {
            height: 300px;
        }
    }
}

// Интерьер
.interior {
    &__subtitle {
        margin-bottom: 120px;

        &::before {
            height: 2px;
        }
    }

    &__item {
        height: 480px;
    }

    &__name {
        top       : 0;
        left      : 0;
        right     : 0;
        bottom    : 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 67.19%, #000000 100%);
    }

    @media(max-width: $laptop) {
        &__subtitle {
            margin-bottom: 70px;
        }

        &__item {
            height: 390px;
        }
    }

    @media(max-width: $mobile) {
        &__subtitle {
            margin-bottom: 50px;

            &::before {
                min-width: var(--size-7);
            }
        }
    }
}

// Галерея
.gallery {
    &__head {
        margin-bottom: 110px;
    }

    &__items {
        grid-auto-rows: 160px;
    }

    &__item {
        &--2 {
            margin-top: var(--size-10);
        }

        &--5 {
            margin-top: calc(-1 * var(--size-10));
        }
    }

    @media(max-width: $laptop) {
        &__head {
            margin-bottom: 70px;
        }

        &__items {
            grid-auto-rows: 100px;
        }

        &__item {
            &--2 {
                margin-top: var(--size-4);
            }

            &--5 {
                margin-top: calc(-1 * var(--size-4));
            }
        }
    }

    @media(max-width: $mobile) {
        &__head {
            margin-bottom: var(--size-10);
        }

        &__items {
            grid-auto-rows: 60px;
        }
    }
}

// Детальная
.details {
    &-slider {
        max-width: 502px;

        &__slide {
            height: 390px;
        }

        &__btn {
            width : var(--size-10);
            height: var(--size-10);
        }
    }

    &__item {
        height: 48px;
    }

    &__content {
        max-width   : 530px;
        border-color: var(--color-black-20);
    }

    @media(max-width: $laptop) {
        & {
            flex-direction: column;
        }

        &-slider {
            border-radius: 0;

            &__slide {
                height: 290px;
            }
        }

        &__item {
            height: var(--size-10);
        }

        &__name {
            order: 1;
        }

        &__price {
            order: 2;
        }

        &__items {
            order: 3;
        }

        &__btn {
            order: 4;
        }

        &__description {
            order: 5;
        }
    }
}

.datepicker-cell--red {
    background   : var(--color-red-20) !important;
    color        : var(--color-red-50) !important;
    border-radius: 0;
}

.reviews {
    min-height: 100vh;

    &__bg {
        inset: 0;
    }

    &__item {
        background     : radial-gradient(98.48% 326.98% at 0% 3.35%, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.6) 100%);
        backdrop-filter: blur(20px);
    }

    &__img {
        min-width: 112px;
        width    : 112px;
        height   : 112px;
        font-size: 60px;
    }

    &__block {
        max-width: 375px;
    }

    &__link {
        border: 1px solid var(--color-black-30);
    }

    @media(min-width: $laptop) {
        & {
            padding-top   : 50px;
            padding-bottom: 50px;
        }
    }

    @media(max-width: $laptop) {
        &__items {
            max-width: 340px;
        }

        &__item {
            transition-delay: 0s;
        }

        &__top {
            flex-direction : row;
            justify-content: flex-start;
        }

        &__img {
            min-width    : 47px;
            width        : 48px;
            height       : 48px;
            font-size    : 24px;
            border-radius: 16px;
        }

        &__text {
            text-align: left;
        }
    }
}