// Отображение и скрытие
.display {
    @include getDisplay;
}

.visibility {
    &-visible {
        visibility: visible;
    }

    &-hidden {
        visibility: hidden;
    }
}

.overflow {
    &-auto {
        overflow: auto;
    }

    &-visible {
        overflow: visible;
    }

    &-hidden {
        overflow: hidden;
    }

    &-scroll {
        overflow: scroll;
    }
}